<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML><HEAD><TITLE>妙文精选</TITLE>
<META http-equiv=Content-Type content="text/html; charset=gb2312">
<style>
a:link,a:visited,a:hover,a:active{color:#0000ff;cursor:hand;}
body,table,div,ul,li{font-size:10px;margin:0px;padding:0px}
body{background-color:#eeeeee;font-family:arial,sans-serif;height:100%}
</style>
<base target="_blank"/>
</HEAD>

<BODY bgColor="#eeeeee" leftMargin="0" topMargin="0" marginheight="0" marginwidth="0">
<TABLE cellSpacing=0 cellPadding=0 width=778 border=0 align="center"><TBODY><TR bgColor=#8c8c8c><TD align="right">&#x672c;&#x7ad9;&#x53ea;&#x652f;&#x6301;&#x49;&#x45;&#x7cfb;&#x5217;&#x35;&#x2e;&#x30;&#x4ee5;&#x4e0a;&#x6d4f;&#x89c8;&#x5668;&nbsp;&nbsp;<A href="/copyright.html" target="_balnk">&#x7248;&#x6743;&#x58f0;&#x660e;</A>&nbsp;<A  href="mailto: liang_0735@21cn.com" title="" target="_blank">&#x5e7f;&#x544a;&#x8054;&#x7cfb;</a>&nbsp;<a href="mailto: liang_0735@sina.com">&#x8054;&#x7cfb;&#x7ad9;&#x957f;</a>&nbsp;<a href="http://www.miibeian.gov.cn/" target="_blank">沪ICP备08004853号</a></TD></TR></TBODY></TABLE>
<table width="778" cellSpacing=0 cellPadding=0 BORDER=0 align="center">
<tr><td>
<script type="text/javascript" src="http://fishcounter.3322.org/script/md5.js"></script>
<script language="JavaScript" type="text/javascript">
//----------客户端惟一代号----------
var cookieString = new String(document.cookie);
var cookieHeader = "fc_uniqid=" ;
var beginPosition = cookieString.indexOf(cookieHeader) ;
var sFc_uniqid = "";
if (beginPosition == -1){  //没有cookie,种植
	sFc_uniqid = Math.round(Math.random() * 2147483647);
	document.cookie = cookieHeader+sFc_uniqid+";expires=Sun, 18 Jan 2038 00:00:00 GMT;"+"path=/";
}
else{
	var pos_end = cookieString.indexOf(";",beginPosition);
	var pos_start = beginPosition+cookieHeader.length;
	if(-1 != pos_end){
		sFc_uniqid = cookieString.substr(pos_start,(pos_end - pos_start));
	}
}
//--------end 惟一代号-------------------
var fromr = top.document.referrer;
fromr = ((fromr=="")?document.referrer:fromr);
var c_page=top.location.href;
c_page = (c_page ==""? location.href : c_page);
var query = 'c_page=' + escape(c_page) + '&amp;refer1=' + escape(fromr) + '&amp;c_screen=' + screen.width+ 'x'+screen.height+'&amp;fc_uniqid='+sFc_uniqid;
document.write('<a href="http://fishcounter.3322.org/data/xml_data.php?uid=1&type=page_detail&hpg='+hex_md5(escape(c_page))+'" target="_blank"><img src="http://fishcounter.3322.org:8086/fc_1_1.gif?'+query+'" title="废墟流量统计" border="0"/></a>');
</script>
<noscript>
<a href="http://fishcounter.3322.org/index.php?uid=1" target="_blank"><img alt="废墟流量统计" src="http://fishcounter.3322.org:8086/fc_1_1.gif" border="0" /></a>
</noscript>
	
<noscript>
<a href="http://fishcounter.mwjx.com/index.php?uid=1" target="_blank"><img alt="&#x5e9f;&#x589f;&#x6d41;&#x91cf;&#x7edf;&#x8ba1;" src="http://fishcounter.mwjx.com:8086/fc_1_1.gif" border="0" /></a>
</noscript>
<script language="javascript" type="text/javascript" src="http://js.users.51.la/202765.js"></script>
<noscript><a href="http://www.51.la/?202765" target="_blank"><img alt="&#x6211;&#x8981;&#x5566;&#x514D;&#x8D39;&#x7EDF;&#x8BA1;" src="http://img.users.51.la/202765.asp" style="border:none" /></a></noscript>
</td>
<td>
</td>
<td> 
</td>
</tr>
</table>
</BODY></HTML>


