<script type="text/javascript"><!--
google_ad_client = "pub-6913943958182517";
google_ad_width = 250;
google_ad_height = 250;
google_ad_format = "250x250_as";
google_ad_type = "text";
//2007-08-19: ╬╡л╛ндубсрио╡©
google_ad_channel = "9260022548";
google_color_border = "eeeeee";
google_color_bg = "eeeeee";
google_color_link = "0000FF";
google_color_text = "000000";
google_color_url = "008000";
//-->
</script>
<script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>