<div align="center">
<SCRIPT>
	var  iInt = parseInt(2*Math.random());
	if (iInt == 1)
	{
		document.write ('<IFRAME align="right" marginWidth="0" marginHeight="0" src="http://www.mwjx.com/mwjx/include/ads_google_120_240.html" frameBorder="0" width="120" scrolling="no" height="240"></IFRAME>');
	}else
	{
		document.write ('<IFRAME align="right" marginWidth="0" marginHeight="0" src="http://www.mwjx.com/mwjx/include/ads_google_120_240.html" frameBorder="0" width="120" scrolling="no" height="240"></IFRAME>');
	}
</SCRIPT>


</div>

