<HTML>
<BODY leftMargin=0 topMargin=0 marginheight="0" marginwidth="0" >
<table width="778" cellSpacing=0 cellPadding=0 BORDER=0>
<tr><td>
<script type="text/javascript"><!--
google_ad_client = "pub-6913943958182517";
google_ad_width = 234;
google_ad_height = 60;
google_ad_format = "234x60_as";
google_cpa_choice = "CAEaCAL67zqmBztaUDRQElAFUC1QB1BDUAxQCFCdAg";
//-->
</script>
<script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</td>
<td>
<script type="text/javascript"><!--
google_ad_client = "pub-6913943958182517";
google_ad_width = 468;
google_ad_height = 60;
google_ad_format = "468x60_as";
google_cpa_choice = "CAEaCAL67zqmBztaUDRQElAFUC1QB1BDUAxQCFCdAg";
//-->
</script>
<script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</td></tr></table>
</BODY>
</HTML>