<HTML>
<HEAD>
<TITLE> 文章|妙文精选|www.mwjx.com </TITLE>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<META NAME="Author" CONTENT="mwjx">
<META NAME="Keywords" CONTENT="mwjx">
</HEAD>

<BODY text="#000000" bgColor="#FFFFFF" leftMargin="0" topMargin="0" marginheight="0" marginwidth="0">
<table width="100%" border="0" cellSpacing="0" cellPadding="0" align="left"><tr><td>
<!--
<iframe src="http://www.spjoy.com/AdFiles/350-240/350-240.htm?f=4523&lower_cooid=0&ad_id=5491" height="240" width="350" marginwidth="0" marginheight="0" hspace="0" vspace="0" frameborder="0" scrolling="no"></iframe>//-->
<a href="http://chinesefriendfinder.com/go/g287033-pmem" target="_blank"><img src="/mwjx/image/5.gif" border="0"/><img src="/mwjx/image/asfriends.jpg" border="0"/></a><!--//-->
</td></tr></table>
</BODY>
</HTML>
