<HTML>
<BODY leftMargin=0 topMargin=0 marginheight="0" marginwidth="0">
<script type="text/JavaScript"> 
alimama_pid="mm_10057664_149917_1555050"; 
alimama_titlecolor="0000FF"; 
alimama_descolor ="000000"; 
alimama_bgcolor="FFFFFF"; 
alimama_bordercolor="E6E6E6"; 
alimama_linkcolor="008000"; 
alimama_bottomcolor="FFFFFF"; 
alimama_anglesize="0"; 
alimama_bgpic="0"; 
alimama_icon="0"; 
alimama_sizecode="36"; 
alimama_width=336; 
alimama_height=280; 
alimama_type=2; 
</script> 
<script src="http://a.alimama.cn/inf.js" type=text/javascript> 
</script>

<!--
<script language="JavaScript" type="text/JavaScript" src="http://code.qihoo.com/ad_bcast/html_show.js?a=2422&b=1003&p=2001&nt=&w=300&h=272&m=158001&refid=&css="> </script>                      //-->  
</BODY>
</HTML>