<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML><HEAD><TITLE>妙文精选</TITLE>
<META http-equiv=Content-Type content="text/html; charset=gb2312">
<style>
a:link,a:visited,a:hover,a:active{color:#0000ff;cursor:hand;}
body,table,div,ul,li{font-size:10px;margin:0px;padding:0px}
body{background-color:#FFFFFF;font-family:arial,sans-serif;height:100%}
</style>
<base target="_blank"/>
</HEAD>

<BODY bgColor="#FFFFFF" leftMargin="0" topMargin="0" marginheight="0" marginwidth="0">
<table width="778" cellSpacing=0 cellPadding=0 BORDER=0 align="center">
<tr><td>
<script type="text/javascript" src="http://fishcounter.3322.org/script/md5.js"></script>
<script language="JavaScript" type="text/javascript">
//----------客户端惟一代号----------
var cookieString = new String(document.cookie);
var cookieHeader = "fc_uniqid=" ;
var beginPosition = cookieString.indexOf(cookieHeader) ;
var sFc_uniqid = "";
if (beginPosition == -1){  //没有cookie,种植
	sFc_uniqid = Math.round(Math.random() * 2147483647);
	document.cookie = cookieHeader+sFc_uniqid+";expires=Sun, 18 Jan 2038 00:00:00 GMT;"+"path=/";
}
else{
	var pos_end = cookieString.indexOf(";",beginPosition);
	var pos_start = beginPosition+cookieHeader.length;
	if(-1 != pos_end){
		sFc_uniqid = cookieString.substr(pos_start,(pos_end - pos_start));
	}
}
//--------end 惟一代号-------------------
var fromr = top.document.referrer;
fromr = ((fromr=="")?document.referrer:fromr);
var c_page=top.location.href;
c_page = (c_page ==""? location.href : c_page);
var query = 'c_page=' + escape(c_page) + '&amp;refer1=' + escape(fromr) + '&amp;c_screen=' + screen.width+ 'x'+screen.height+'&amp;fc_uniqid='+sFc_uniqid;
document.write('<a href="http://fishcounter.3322.org/data/xml_data.php?uid=1&type=page_detail&hpg='+hex_md5(escape(c_page))+'" target="_blank"><img src="http://fishcounter.3322.org:8086/fc_1_1.gif?'+query+'" title="废墟流量统计" border="0"/></a>');
</script>
<noscript>
<a href="http://fishcounter.3322.org/index.php?uid=1" target="_blank"><img alt="废墟流量统计" src="http://fishcounter.3322.org:8086/fc_1_1.gif" border="0" /></a>
</noscript>
<!--<script language="javascript" type="text/javascript" src="http://js.users.51.la/202765.js"></script>
<noscript><a href="http://www.51.la/?202765" target="_blank"><img alt="&#x6211;&#x8981;&#x5566;&#x514D;&#x8D39;&#x7EDF;&#x8BA1;" src="http://img.users.51.la/202765.asp" style="border:none" /></a></noscript>//-->
</td>
<td>
<!--<div style="width:100%;border:1px solid #cccccc;margin-top:0px;">//-->
<!--网页游戏:·<a href="http://www.mwjx.com/aboutfish/fishcountry/games/box/game.htm">推箱子</a>&nbsp;｜&nbsp;·<a href="http://www.mwjx.com/aboutfish/fishcountry/games/sc/sc.htm">网页星际</a>&nbsp;｜&nbsp;·<a href="http://mwjxhome.3322.org/fish/">废墟</a><font color="red">√</font>&nbsp;｜&nbsp;·<a href="http://www.mwjx.com/aboutfish/fishcountry/games/gamedebug/index.php">找碴王</a>&nbsp;｜&nbsp;·<a href="http://www.mwjx.com/aboutfish/fishcountry/games/wzq/wzq.php">五子棋</a>&nbsp;｜&nbsp;·<a href="http://www.mwjx.com/aboutfish/fishcountry/gamerussia.php">俄罗斯方块</a><br/>
人格测试:·<a href="http://www.mwjx.com/other/short/os079.htm">标准智商测试</a>&nbsp;｜&nbsp;·<a href="http://www.mwjx.com/mwjx/iq_tests/tests_politics.html"> 	  最新北大未名版　左右派鉴定软件</a><br/>
特别推荐:·<a href="http://www.mwjx.com/data/234.html">世界科幻大师丛书合集</a><font color="red">√</font>&nbsp;｜&nbsp;·<a href="http://www.mwjx.com/data/300.html">希区柯克悬念故事集</a>
&nbsp;｜&nbsp;·<a href="http://www.mwjx.com/data/119.html">令人战栗的格林童话系列</a>
&nbsp;｜&nbsp;·<a href="http://www.mwjx.com/data/106.html">中国雄师—五大野战军</a>
&nbsp;｜&nbsp;·<a href="http://www.mwjx.com/data/141.html">毛泽东传--解放前后全集</a> 
&nbsp;｜&nbsp;·<a href="http://www.mwjx.com/data/38.html">冤鬼路四部曲</a>
&nbsp;//-->
</td>
<td> 
<script type="text/JavaScript"> 
alimama_pid="mm_10057664_149917_1816930"; 
alimama_titlecolor="0000FF"; 
alimama_descolor ="000000"; 
alimama_bgcolor="FFFFFF"; 
alimama_bordercolor="E6E6E6"; 
alimama_linkcolor="008000"; 
alimama_bottomcolor="FFFFFF"; 
alimama_anglesize="0"; 
alimama_bgpic="0"; 
alimama_icon="0"; 
alimama_sizecode="12"; 
alimama_width=468; 
alimama_height=60; 
alimama_type=2; 
</script> 
<script src="http://a.alimama.cn/inf.js" type=text/javascript> 
</script>        
<!--//-->
<!--
<img src="/mwjx/image/ffz_468x60_aa_01b.gif" WIDTH=468 HEIGHT=60 BORDER=0>//-->
<!--<A href="http://chinesefriendfinder.com/go/g287033-pmem" target="_blank"><img src="/image/120x60_02_big5.gif" BORDER=0></A>
//-->
</td>
</tr>
</table>

<!--<center><a href="http://auction1.taobao.com/auction/0/item_detail-0db1-53e565df670f30e5751c85314ec0a95c.jhtml" target="_blank"><B><font color="red" size="4pt">捐助１元钱，支持《妙文精选》发展</font></B></a>&nbsp;&nbsp;--&nbsp;&nbsp;<a href="http://www.mwjx.com/mwjx/src_php/thanks_list.php" target="_blank">捐助人名单</a>
</center>
//-->
</BODY></HTML>


