<HTML>
<HEAD>
<TITLE> 捐助《妙文精选》|妙文精选|www.mwjx.com </TITLE>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<META NAME="Author" CONTENT="mwjx">
<META NAME="Keywords" CONTENT="mwjx">
<style type="text/css">
<!--
#div_content{
	float:right;
}
#div_content li{
	float:left;
	height:21px;
	display:inline;
	margin:0 3px;
	background:url(/mwjx/images/bussniess/head_bg_sprite.gif) no-repeat right -21px;
}
#div_content li a{
	display:block;
	padding:0 6px 0 7px;
	float:left;
	height:21px;
	line-height:21px;
	color:#111;
	font-size:12px;
	background:url(/mwjx/images/bussniess/head_bg_sprite.gif) no-repeat 0 0;
}

//-->
</style>
<script language="javascript">
function commit(p)
{
	//提交表单
	//输入:p(int)捐助金额
	//输出:无
	document.all["Unitprice"].value = p;
	document.all["form_help"].submit();	
}
</script>
</HEAD>

<BODY text="#000000" bgColor="#FFFFFF" leftMargin="0" topMargin="0" marginheight="0" marginwidth="0">
<div style="border:1px #BECEE6 solid;background:#fff">

<table border="0" cellpadding="0" cellspacing="0" bgcolor="#E1EFFA" style="border-bottom:1px #BECEE6 solid;">
<tr><td style="padding:0 0 0 10px;font-size:12px;">
&nbsp;&nbsp;&nbsp;&nbsp;
<IMG src="/mwjx/images/i14.gif"/><b>捐助本站</b>，《妙文精选》是一个免费公益的绿色健康网文站点，从2001年开始至今，董事长兼CEO兼美工兼程序员兼编辑兼更新苦力者小鱼历经大小８０余仗６年奋斗，终于经营不力，导致入不敷出，如今沿网络举钵，如果觉得本站有存在必要，请捐一元钱帮助本站生存发展(当然多了小鱼更高兴^_^哇哈哈)。谢谢&nbsp;&nbsp;
&nbsp;&nbsp;捐助方式：<br/>

<div id="div_content" style="float:left;">
<!--<form method="post" name="form_help" action="https://www.cncard.net/purchase/selfdeal_step1.asp" target="_blank">
<input type="hidden" name="Unitprice" value='1'><br>
<input type="hidden" name="PMid" value='1018377'>
<input type="hidden" name="Pcatename" value='捐助妙文精选'>
<input type="hidden" name="Pcateid" value='1'>
<input type="hidden" name="succ_url" value='http://www.mwjx.com/'>
<input type="hidden" name="Error_url" value='http://www.mwjx.com/'>
<input type="hidden" name="Memo_Status" value='0'>
<input type="hidden" name="Memo_topic" value=''>
<input type="hidden" name="Topic1" value=''>
<input type="hidden" name="Topic2" value=''>
<input type="hidden" name="Quantity_status" value='0'>
<input type="hidden" name="PsFee_type" value='0'>
<input type="hidden" name="PsFee" value='0'>
<input type="hidden" name="handFee" value='0'>
<input type="hidden" name="botton_type" value='1'>
<input type="hidden" name="c_language" value='0'>
<UL>
  <LI><A href="#" 
  onclick="javascript:commit(1);return false;">捐助一元</A></LI>
  <LI><A href="#" 
  onclick="javascript:commit(2);return false;">捐助二元</A></LI>
  <LI><A href="#" 
  onclick="javascript:commit(5);return false;">捐助五元</A></LI>
  <LI><A href="#" 
  onclick="javascript:commit(10);return false;">捐助十元</A></LI>
  <LI><A href="#" 
  onclick="javascript:commit(20);return false;">捐助二十元</A></LI>
  <LI><A href="#" 
  onclick="javascript:commit(50);return false;">捐助五十元</A></LI>
</UL>
<br/>
</form>
//-->
<UL>
  <LI><A href="http://auction1.taobao.com/auction/0/item_detail-0db1-53e565df670f30e5751c85314ec0a95c.jhtml" 
  target="_blank">捐助《妙文精选》</A></LI>
  <LI><A href="http://auction1.taobao.com/auction/0/item_detail-0db1-53e565df670f30e5751c85314ec0a95c.jhtml" 
  target="_blank">支持《妙文精选》发展</A></LI>
  <!--<LI><A href="/mwjx/src_php/thanks_list.php" 
  target="_blank">手机铃声</A></LI>
  <LI><A href="/mwjx/src_php/thanks_list.php" 
  target="_blank">在线支付</A></LI>
  <LI><A href="/mwjx/src_php/thanks_list.php" 
  target="_blank">银行转帐</A></LI>//-->
</UL>
<br/>
<form action="/mwjx/cmd.php?fun=helpmwjx" method="POST"  target="submitframe">
<br/>
一定要捐完款才添加自己大名哦，可不许耍赖。<br/>
尊姓大名：<input name="helper_name" type="text" value="" size="8"/>&nbsp;&nbsp;捐助金额：<input name="helper_money" type="text" value="" size="8"/><br/><img src="/mwjx/pic.php?t=helpmwjx" onclick="this.src='/mwjx/pic.php?t=helpmwjx'" alt="看不清楚，更换图片" style="cursor:hand;"/>验证码：<input type="text" name="conf_helpmwjx" size="5" value=""/>&nbsp;&nbsp;
<input type="submit" value="将自己加入《捐助者名单》"/><a href="/mwjx/src_php/thanks_list.php" target="blank">查看捐助者名单</a>
</form>

</div>

</td></tr>
</table>

</div>
<iframe name="submitframe" width="1" height="1" src="about:blank">
</BODY>
</HTML>
