<!-- SiteSearch Google -->
<form name="query" action="/mwjx/home.php" method="get" target="_blank">
<table border="0" bgcolor="#ffffff">
<tr><td nowrap="nowrap" valign="top" align="left" height="32">

</td>
<td nowrap="nowrap">
		<input type="hidden" name="main" value="./src_php/data_class.php"/>
		<input type="hidden" name="type" value="search"/>
		<input type="hidden" name="page" value="1"/>
		<input type="hidden" name="per" value="10"/>
		<input type="hidden" name="show_type" value="dynamic"/>
		<input type="hidden" name="cid" value="0"/>

<label for="sbi" style="display: none">输入您的搜索字词</label>
<input type="text" name="str" size="31" maxlength="255" value="" id="str"></input>
<label for="sbb" style="display: none">提交搜索表单</label>
<input type="submit" name="sa" value="站内 搜索" id="sbb"></input>
</td></tr>
<tr>
<td>&nbsp;</td>
<td nowrap="nowrap">
<table>
<tr>
<td>
</td>
<td>
<input type="radio" name="sitesearch" value="www.mwjx.com" checked id="ss1" disabled="true"></input>
<label for="ss1" title="搜索 www.mwjx.com"><font size="-1" color="#000000">www.mwjx.com</font></label></td>
</tr>
</table>
</td></tr></table>
</form>
<!-- SiteSearch Google -->