<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML><HEAD><TITLE>妙文精选</TITLE>
<META http-equiv=Content-Type content="text/html; charset=gb2312">
<style>a:link,a:visited,a:hover,a:active{color:#0000ff;cursor:hand;}body,table,div,ul,li{font-size:10px;margin:0px;padding:0px}body{background-color:#ffffff;font-family:arial,sans-serif;height:100%}#aus{height:200px;width:200px}#ads{left:0px;position:absolute;top:0px;width:200px}#ads ul{list-style:none;width:100%}#ads ul li{clear:both;cursor:hand;float:left;height:91px;overflow:hidden;width:200px}.ad{margin:0px 2px}.adt{font-size:12px;font-weight:bold;line-height:14px;}.adb{color:#000000;display:block;font-size:12px;line-height:14px}.adu{color:#009900;font-size:10px;line-height:14px;overflow:hidden;white-space:nowrap}.adc{width:100%;height:91px;table-layout:fixed;overflow:hidden}#abgi{left:120px;position:absolute;top:183px}#aubg{background-color:#ffffff;border:0px solid #ffffff;height:200px;width:200px}</style>
</HEAD>
<BODY style="BACKGROUND: none transparent scroll repeat 0% 0%" bgColor=#eeeeee 
leftMargin=0 topMargin=0 marginheight="0" marginwidth="0">
<div style="width:100%;border:1px solid #cccccc;margin-top:0px;">
特别推荐:
<table width="100%" border="0"><tr><td colspan="2">
<table class=adc cellpadding=0 cellspacing=0 border=0><tr><td valign=middle><a class=adt href="http://www.mwjx.com/data/234.html" target="_blank"><span>世界科幻大师丛书合集</span></a><font color="red">√</font>
<div class=adb>四川科学技术出版社的世界科幻大师丛书139本。（有一些书还是没有，例如索耶的金羊毛等知名作品，也出版了），但是比别的要全多了。另外最后一本2061也不全（2001太空奥德赛系列好像四川科技出版社没出过呀）。</div><div class=adu>http://www.mwjx.com/data/234.html</div></td></tr></table>
</td></tr>
<tr><td>
<table class=adc cellpadding=0 cellspacing=0 border=0><tr><td valign=middle><a class=adt href="http://www.mwjx.com/data/119.html" target="_blank"><span>令人战栗的格林童话系列</span></a><div class=adb>令人战栗的格林童话--杜松树（传统民间故事竟是这么恐怖）
作者：桐生操</div><div class=adu>http://www.mwjx.com/data/119.html</div></td></tr></table>
</td><td>
<table class=adc cellpadding=0 cellspacing=0 border=0><tr><td valign=middle><a class=adt href="http://www.mwjx.com/data/35.html" target="_blank"><span>哈利·波特全集</span></a><div class=adb>（Harry Potter），是英国女作家J·K·罗琳的系列魔幻文学作品,本系列共有七本，描写的是主人公哈利·波特在霍格沃茨魔法学校七年的学习生活冒险故事。...	
	 
</div><div class=adu>http://www.mwjx.com/data/35.html</div></td></tr></table>
</td></tr>
<tr><td colspan="2">
<script type="text/javascript"><!--
google_ad_client = "pub-6913943958182517";
google_ad_width = 336;
google_ad_height = 280;
google_ad_format = "336x280_as";
google_ad_type = "text";
//2007-08-18: 动态文章右上部
google_ad_channel = "0361107505";
//-->
</script>
<script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
<!--<iframe width="336" height="280" src="/mwjx/include/ads_google_336_280.html" border=0 frameborder=0 scrolling=no valign="top"></iframe>
//-->
<!--<SCRIPT>
	var  iInt = parseInt(2*Math.random());  
	if (iInt == 1){
		document.write ('<iframe width=336 height=280 src="/mwjx/include/ads_google_336_280.html" border=0 frameborder=0 scrolling=no valign="top"></iframe>');
	}
	else{
		document.write ('<iframe width=336 height=280 src="/mwjx/include/ads_google_336_280_tj.html" border=0 frameborder=0 scrolling=no valign="top"></iframe>');
	}
</SCRIPT>
//-->
</td></tr>
<tr><td>
<table class=adc cellpadding=0 cellspacing=0 border=0><tr><td valign=middle><a class=adt href="http://www.mwjx.com/data/303.html" target="_blank"><span>魔戒全集</span></a><div class=adb>在研究了许多神话作品后，托尔金有感于英国本土历史只有"亚瑟王"传说，...发愤写出《魔戒三部曲》，内容充满矮人、精灵、巫师...被誉为近代所有奇幻作品的鼻祖...</div><div class=adu>http://www.mwjx.com/data/303.html</div></td></tr></table>
</td><td>
<table class=adc cellpadding=0 cellspacing=0 border=0><tr><td valign=middle><a class=adt href="http://www.mwjx.com/data/106.html" target="_blank"><span>中国雄师—五大野战军</span></a><div class=adb>引言：西北军魂一、威武之师二、生死对头三、雄师溯源四、挥戈晋绥五、万里回师六、让出“红都”七、三战三捷
...	十三、进 疆十四、分兵人川藏十五、再展军威</div><div class=adu>http://www.mwjx.com/data/106.html</div></td></tr></table>
</td></tr>
<tr><td>
<table class=adc cellpadding=0 cellspacing=0 border=0><tr><td valign=middle><a class=adt href="http://www.mwjx.com/data/75.html" target="_blank"><span>那多全集</span></a><div class=adb>《那多灵异手记系列》十本《幽灵旗》《神的密码》《亡者永生》 《返祖》《暗影三十八万》《变形人》《那多三国事件簿》 《百年诅咒》...</div><div class=adu>http://www.mwjx.com/data/75.html</div></td></tr></table>
</td><td>
<table class=adc cellpadding=0 cellspacing=0 border=0><tr><td valign=middle><a class=adt href="http://www.mwjx.com/data/141.html" target="_blank"><span>毛泽东传--解放前后合集</span></a><div class=adb>是经中共中央批准撰写的毛泽东传的建国后部分,是反映毛泽东建国后生平、思想、业绩的一部权威性传记...</div><div class=adu>http://www.mwjx.com/data/141.html</div></td></tr></table>
</td></tr>
<tr><td>
<table class=adc cellpadding=0 cellspacing=0 border=0><tr><td valign=middle><a class=adt href="http://www.mwjx.com/data/38.html" target="_blank"><span>冤鬼路四部曲</span></a><div class=adb>冤鬼路四部曲之一:冤魂路 冤鬼路四部曲之二:樱花厉魂 冤鬼路四部曲之三:灵堂课室 冤鬼路四部曲之四:骨架氤氲 ...</div><div class=adu>http://www.mwjx.com/data/38.html</div></td></tr></table>
</td><td>
<table class=adc cellpadding=0 cellspacing=0 border=0><tr><td valign=middle><a class=adt href="http://www.mwjx.com/data/239.html" target="_blank"><span>纵横十六国</span></a><div class=adb>纵横十六国，煮酒话英雄:序章 从三国归晋说起第一部 永嘉之乱南匈奴兴起刘渊建汉..文“达”武“曜”蜀中流民</div><div class=adu>http://www.mwjx.com/data/239.html</div></td></tr></table>
</td></tr>
<tr><td>
</td><td>
</td></tr>
</table>
<ul>
</ul>
<!--
&nbsp;｜&nbsp;·<a href="http://www.mwjx.com/data/75.html" target="_blank">那多全集</a>
&nbsp;｜&nbsp;·<a href="http://www.mwjx.com/data/141.html" target="_blank">毛泽东传--解放前后全集</a> 
&nbsp;｜&nbsp;·<a href="http://www.mwjx.com/data/38.html" target="_blank">冤鬼路四部曲</a>
&nbsp;｜&nbsp;·<a href="http://www.mwjx.com/data/239.html" target="_blank">纵横十六国</a>//-->
</div>
</BODY></HTML>


