<HTML>
<HEAD>
<TITLE> 静态文章右上部|妙文精选|www.mwjx.com </TITLE>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<META NAME="Author" CONTENT="mwjx">
<META NAME="Keywords" CONTENT="mwjx">
</HEAD>

<BODY text="#000000" bgColor="#fef9cf" leftMargin="0" topMargin="0" marginheight="0" marginwidth="0">
<table width="100%" border="0" cellSpacing="0" cellPadding="0"><tr><td>
<A href="http://chinesefriendfinder.com/go/g287033-pmem" target="_blank"><img src="/mwjx/image/ffz_468x60_aa_01b.gif" WIDTH=468 HEIGHT=60 BORDER=0></A>
</td></tr></table>
</BODY>
</HTML>
