<HTML>
<BODY leftMargin=0 topMargin=0 marginheight="0" marginwidth="0" >
<!--<script type="text/javascript">
google_ad_client = "pub-6913943958182517";
//728x90, ´´½¨ÓÚ 07-11-20
google_ad_slot = "3279876717";
google_ad_width = 728;
google_ad_height = 90;
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
//-->
<!--
<A href="http://chinesefriendfinder.com/go/g287033-pmem" target="_blank"><img src="/mwjx/image/ffz_468x60_aa_01b.gif" WIDTH=468 HEIGHT=60 BORDER=0><img src="/image/120x60_02_big5.gif" BORDER=0></A>
//--><!--
<A href="http://chinesefriendfinder.com/go/g287033-pmem" target="_blank"><img src="/mwjx/image/78236311.jpg" WIDTH=760 HEIGHT=142 BORDER=0></A>//-->
<A href="http://chinesefriendfinder.com/go/g287033-pmem" target="_blank"><img src="/mwjx/image/imgad.jpg" WIDTH="728" HEIGHT="79" BORDER="0"></A>
<!--
<script language="javascript" src="http://js.733.com/userdata/adv/2772-114.php"></script>
//-->
</BODY>
</HTML>