<HTML>
<HEAD>
<TITLE> 排行最新栏目|妙文精选|www.mwjx.com </TITLE>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<META NAME="Author" CONTENT="mwjx">
<META NAME="Keywords" CONTENT="mwjx">
</HEAD>

<BODY text="#000000" bgColor="#ffffff" leftMargin="0" topMargin="0" marginheight="0" marginwidth="0">
<A href="http://chinesefriendfinder.com/go/g287033-pmem"   target="_blank"><img src="http://ads.chinesefriendfinder.com/banners/ffz/FFZ_468x60_aa_01b.gif" WIDTH=468 HEIGHT=60 BORDER=0><img src="/mwjx/images/header_gb.gif" BORDER=0/></A>

</BODY>
</HTML>
