<HTML>
<HEAD>
<TITLE> 静态文章右上部|妙文精选|www.mwjx.com </TITLE>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<META NAME="Author" CONTENT="mwjx">
<META NAME="Keywords" CONTENT="mwjx">
</HEAD>

<BODY text="#000000" bgColor="#eeeeee" leftMargin="0" topMargin="0" marginheight="0" marginwidth="0">
<table cellSpacing="0" cellPadding="0" width="390" border="0" valign="top" align="left"><tr><td valign="top" align="left" width="250">
<script type="text/javascript"><!--
google_ad_client = "pub-6913943958182517";
google_ad_width = 250;
google_ad_height = 250;
google_ad_format = "250x250_as";
google_ad_type = "text";
//2007-08-24: 静态文章右上部
google_ad_channel = "9260022548";
google_color_border = "eeeeee";
google_color_bg = "eeeeee";
google_color_link = "0000FF";
google_color_text = "000000";
google_color_url = "008000";
//-->
</script>
<script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</td><td valign="top">
<IFRAME align="left" marginWidth="0" marginHeight="0" src="/data/last_newrecommend.xml" frameBorder="0" scrolling="auto" width="140" height="250" ></IFRAME>
</td></tr></table>
</BODY>
</HTML>
