.webuipla {
	
}
.webuipla #webuiclose {
	DISPLAY: none
}
.webuipla #txt_content {
	WIDTH: 540px
}
.webuiplb {
	BORDER-RIGHT: #000 1px solid; BORDER-TOP: #000 1px solid; BACKGROUND: #fff; ; LEFT: expression((this.parentElement.offsetWidth-this.offsetWidth)/2); BORDER-LEFT: #000 1px solid; WIDTH: 520px; BORDER-BOTTOM: #000 1px solid; POSITION: absolute; TOP: 120px
}
.webuiplb #commentcontent {
	WIDTH: 480px
}
.webuiplb FORM {
	MARGIN: 0px 20px
}
.webuiplb #webuiclose {
	PADDING-RIGHT: 8px; DISPLAY: block; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: #dfdfdf; CURSOR: pointer; LINE-HEIGHT: 25px; BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: right
}
#webuipl {
	DISPLAY: inline; Z-INDEX: 100
}
 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Arial,Helvetica,"宋体"
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; BACKGROUND: #fff; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 180%; PADDING-TOP: 0px; FONT-FAMILY: Arial,Helvetica,"宋体",sans-serif; TEXT-ALIGN: center;background-image:url(/mwjx/image/mwbg.gif);background-repeat:repeat-x;
}
#Head_div {height:76px;width:100%;
	/*background-color:red;*/
}
DIV {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; TEXT-ALIGN: left
}
FORM {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; TEXT-ALIGN: left
}
IMG {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; TEXT-ALIGN: left
}
IMG {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; TEXT-ALIGN: left
}
UL {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; TEXT-ALIGN: left
}
OL {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; TEXT-ALIGN: left
}
LI {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; TEXT-ALIGN: left
}
DL {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; TEXT-ALIGN: left
}
DT {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; TEXT-ALIGN: left
}
DD {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; TEXT-ALIGN: left
}
H1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
TABLE {
	FONT-SIZE: 12px
}
TD {
	FONT-SIZE: 12px
}
TR {
	FONT-SIZE: 12px
}
TH {
	FONT-SIZE: 12px
}
LI {
	LIST-STYLE-TYPE: none
}
HR {
	CLEAR: both
}
#contsear {
	RIGHT: 0px; POSITION: absolute; TOP: 16px
}
#contsear TABLE {
	BACKGROUND: #fff; FLOAT: right; WIDTH: auto
}
#contsear TD {
	BACKGROUND: #fff; WIDTH: auto
}
#contsear INPUT {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BACKGROUND: #fbfbfb; MARGIN-LEFT: 8px; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid
}
#contsear SELECT {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BACKGROUND: #fbfbfb; MARGIN-LEFT: 8px; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid
}
#contsear .btn {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BACKGROUND: #fbfbfb; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid
}
.pppp {
	CLEAR: both; WIDTH: 100%
}
A:link {
	COLOR: #000; TEXT-DECORATION: none
}
.f_gray {
	COLOR: #83006f; TEXT-DECORATION: none
}
A:visited {
	COLOR: #83006f; TEXT-DECORATION: none
}
A:hover {
	COLOR: #bc2931; TEXT-DECORATION: underline
}
A:active {
	COLOR: #bc2931
}
.f_red {
	COLOR: red; TEXT-DECORATION: none
}
A.red:link {
	COLOR: red; TEXT-DECORATION: none
}
A.red:active {
	COLOR: red; TEXT-DECORATION: none
}
A.red:visited {
	COLOR: #c60; TEXT-DECORATION: none
}
A.red:hover {
	COLOR: red; TEXT-DECORATION: underline
}
.f_blue {
	COLOR: #1f3a87; TEXT-DECORATION: none
}
A.blue:link {
	COLOR: #1f3a87; TEXT-DECORATION: none
}
A.red:active {
	COLOR: #1f3a87; TEXT-DECORATION: none
}
A.blue:visited {
	COLOR: #06f; TEXT-DECORATION: none
}
A.blue:hover {
	COLOR: red; TEXT-DECORATION: underline
}
#webuitext {
	MARGIN: auto; OVERFLOW: hidden; WIDTH: 968px
}
.wrap {
	DISPLAY: inline; MARGIN: 0px auto; OVERFLOW: hidden; WIDTH: 968px
}
.sidebottom {
	MARGIN: 1px
}
.sideleft {
	DISPLAY: inline; FLOAT: left; WIDTH: 716px; MARGIN-RIGHT: 2px
}
.sideright {
	DISPLAY: inline; FLOAT: right; WIDTH: 250px
}
.wrap:unknown {
	CLEAR: both; DISPLAY: block; VISIBILITY: hidden; HEIGHT: 0px; content: '[DO NOT LEAVE IT IS NOT REAL]'
}
.wrap {
	DISPLAY: inline-block
}
.wrap {
	DISPLAY: block
}
.sideleft {
	MARGIN-BOTTOM: -32767px! important; PADDING-BOTTOM: 32767px! important
}
.sideright {
	MARGIN-BOTTOM: -32767px! important; PADDING-BOTTOM: 32767px! important
}
.sidebottom {
	MARGIN-BOTTOM: -32767px! important; PADDING-BOTTOM: 32767px! important
}

@media Unknown    
{
.sideleft {
	MARGIN-BOTTOM: 0px! important; PADDING-BOTTOM: 0px! important
}
.sideright {
	MARGIN-BOTTOM: 0px! important; PADDING-BOTTOM: 0px! important
}
.sidebottom {
	MARGIN-BOTTOM: 0px! important; PADDING-BOTTOM: 0px! important
}
.sideleft:unknown {
	DISPLAY: block; MARGIN-BOTTOM: -32767px! important; PADDING-TOP: 32767px! important; HEIGHT: 0px; content: [DO NOT LEAVE IT IS NOT REAL]
}
.sideright:unknown {
	DISPLAY: block; MARGIN-BOTTOM: -32767px! important; PADDING-TOP: 32767px! important; HEIGHT: 0px; content: [DO NOT LEAVE IT IS NOT REAL]
}
.sidebottom:unknown {
	DISPLAY: block; MARGIN-BOTTOM: -32767px! important; PADDING-TOP: 32767px! important; HEIGHT: 0px; content: [DO NOT LEAVE IT IS NOT REAL]
}
    }
.header {
	CLEAR: both; BACKGROUND: #fff; BORDER-BOTTOM: #d3d3d3 1px solid; HEIGHT: 83px
}
.header .top {
	CLEAR: both; OVERFLOW: hidden; BORDER-BOTTOM: #333 3px solid; HEIGHT: 60px
}
.header .top .logo {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.header .top .search {
	FLOAT: right; PADDING-TOP: 16px
}
.search SELECT {
	BORDER-RIGHT: #a7a6aa 1px solid; BORDER-TOP: #a7a6aa 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #a7a6aa 1px solid; COLOR: #000; BORDER-BOTTOM: #a7a6aa 1px solid; FONT-FAMILY: "宋体"; HEIGHT: 18px
}
.search .btn {
	BORDER-RIGHT: #a7a6aa 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #a7a6aa 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 9pt; BACKGROUND: #f9f9f9; PADDING-BOTTOM: 0px; BORDER-LEFT: #a7a6aa 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #a7a6aa 1px solid; HEIGHT: 20px
}
.header .menu {
	CLEAR: both; BORDER-RIGHT: #e6e6e6 1px solid; OVERFLOW: hidden; HEIGHT: 25px
}
.header .menu A {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; FLOAT: left; PADDING-BOTTOM: 3px; BORDER-LEFT: #e6e6e6 1px solid; PADDING-TOP: 3px
}
.header .menu .active {
	BACKGROUND: #e9eef4
}
.header .menu A:visited {
	COLOR: #000
}
.header .menu A:hover {
	BACKGROUND: #1f3a87; COLOR: #fff
}
#content {
	FONT-SIZE: 14px; OVERFLOW: hidden; LINE-HEIGHT: 1.7em
}
#content P {
	FONT-SIZE: 14px; MARGIN: 13px 0px
}
#content DIV {
	FONT-SIZE: 14px; MARGIN: 13px 0px
}
#content B {
	FONT-SIZE: 14px
}
#content NOBR {
	FONT-SIZE: 14px
}
#content STRONG {
	FONT-SIZE: 14px
}
#content A {
	FONT-SIZE: 14px
}
#content SPAN {
	FONT-SIZE: 14px
}
#content FONT {
	FONT-SIZE: 14px
}
#content U {
	FONT-SIZE: 14px
}
#content B {
	FONT-SIZE: 14px
}
#content CENTER {
	FONT-SIZE: 14px
}
#content IMG {
	BORDER-RIGHT: #fff 4px solid; BORDER-TOP: #fff 4px solid; BORDER-LEFT: #fff 4px solid; BORDER-BOTTOM: #fff 4px solid
}
#content IMG {
	BORDER-RIGHT: #fff 4px solid; BORDER-TOP: #fff 4px solid; BORDER-LEFT: #fff 4px solid; BORDER-BOTTOM: #fff 4px solid
}
.introduce {
	BORDER-RIGHT: #e7e7e7 1px solid; PADDING-RIGHT: 14px; BORDER-TOP: #e7e7e7 1px solid; PADDING-LEFT: 14px; FONT-SIZE: 14px; BACKGROUND: #fff; PADDING-BOTTOM: 6px; MARGIN: 5px 0px; BORDER-LEFT: #e7e7e7 1px solid; COLOR: #1f3a87; PADDING-TOP: 6px; BORDER-BOTTOM: #e7e7e7 1px solid
}
#commentcontent {
	BORDER-RIGHT: #e0e0e0 1px solid; BORDER-TOP: #e0e0e0 1px solid; BORDER-LEFT: #e0e0e0 1px solid; CURSOR: text; BORDER-BOTTOM: #e0e0e0 1px solid; HEIGHT: 100px
}
.btn {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(img/input_bg1.gif); BORDER-LEFT: 0px; WIDTH: 53px; CURSOR: hand; LINE-HEIGHT: 20px; BORDER-BOTTOM: 0px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 20px; TEXT-ALIGN: center
}
.comm {
	CLEAR: both; BACKGROUND: url(img/end_p1.gif) no-repeat left top; MARGIN: 3px 0px; HEIGHT: 34px
}
.bg_content {
	CLEAR: both; BORDER-RIGHT: 0px; BORDER-TOP: 0px; BACKGROUND: url(img/bg_content.gif) no-repeat; OVERFLOW: hidden; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; HEIGHT: 1px; 0px: 
}
.righttitle {
	CLEAR: both; BACKGROUND: url(img/end_bg2.gif) repeat-x 0px 12px; HEIGHT: 23px
}
.righttitle H6 {
	PADDING-RIGHT: 12px; PADDING-LEFT: 0px; BACKGROUND: #fff; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 4px
}
.picText1 {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; MARGIN: 0px auto; WIDTH: 548px; PADDING-TOP: 6px
}
.picText1 .col {
	FLOAT: left; WIDTH: 182px
}
.picText1 .col IMG {
	BORDER-RIGHT: #000 1px solid; BORDER-TOP: #000 1px solid; MARGIN-LEFT: 24px; BORDER-LEFT: #000 1px solid; BORDER-BOTTOM: #000 1px solid
}
.picText1 .col H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; MARGIN-LEFT: 24px; WIDTH: 135px; PADDING-TOP: 3px
}
.picText2 {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; MARGIN: 0px auto; WIDTH: 340px; PADDING-TOP: 6px
}
.picText2 .col {
	FLOAT: left; WIDTH: 170px
}
.picText2 .col IMG {
	BORDER-RIGHT: #000 1px solid; BORDER-TOP: #000 1px solid; MARGIN-LEFT: 18px; BORDER-LEFT: #000 1px solid; BORDER-BOTTOM: #000 1px solid
}
.picText2 .col H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; MARGIN-LEFT: 18px; WIDTH: 135px; PADDING-TOP: 3px
}
.hr {
	CLEAR: both; FONT-SIZE: 1px; BACKGROUND: url(img/bg2.gif) repeat-x; MARGIN: 8px 0px; HEIGHT: 1px
}
.pic {
	FLOAT: left; WIDTH: 110px; HEIGHT: 50px
}
.pic IMG {
	MARGIN: 5px 0px
}
.text {
	FLOAT: left; WIDTH: 150px; HEIGHT: 50px;
}
.text UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 2px
}
.text UL LI{
	WIDTH: 150px;
	white-space:nowrap;
	font-weight:bold;
	line-height:22px;
	overflow:hidden;
}

.PageNum {
	CLEAR: both; MARGIN: 0px auto; WIDTH: 540px; LINE-HEIGHT: 120%; TEXT-ALIGN: left
}
.PageNum .active {
	BORDER-RIGHT: #333 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #333 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; BACKGROUND: #fff; FLOAT: left; PADDING-BOTTOM: 2px; MARGIN: 4px 5px 0px 0px; BORDER-LEFT: #333 1px solid; COLOR: #bc2931; PADDING-TOP: 2px; BORDER-BOTTOM: #333 1px solid; TEXT-DECORATION: none
}
.PageNum .dot {
	FLOAT: left; TEXT-DECORATION: none
}
.PageNum A {
	BORDER-RIGHT: #999 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #999 1px solid; PADDING-LEFT: 5px; BACKGROUND: #f3f3f3; FLOAT: left; PADDING-BOTTOM: 2px; MARGIN: 4px 5px 0px 0px; BORDER-LEFT: #999 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #999 1px solid; TEXT-DECORATION: none
}
.PageNum A:visited {
	COLOR: #000; TEXT-DECORATION: none
}
.PageNum A:hover {
	BORDER-RIGHT: #131b31 1px solid; BORDER-TOP: #131b31 1px solid; BACKGROUND: #1f3a87; BORDER-LEFT: #131b31 1px solid; COLOR: #fff; BORDER-BOTTOM: #131b31 1px solid; TEXT-DECORATION: none
}
.rightcontent {
	CLEAR: both
}
.rightcontent .title {
	CLEAR: both; BACKGROUND: url(img/end_bg2.gif) repeat-x 50% bottom; MARGIN: 0px auto; WIDTH: 344px; HEIGHT: 25px
}
.rightcontent .title UL {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 6px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.rightcontent .title LI {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BACKGROUND: #e9f1f6; FLOAT: left; MARGIN: 0px 5px 0px 0px; BORDER-LEFT: #ccc 1px solid; HEIGHT: 23px
}
.rightcontent .title LI H2 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; PADDING-TOP: 5px
}
.rightcontent .title .active {
	BACKGROUND: #fff; FLOAT: left; MARGIN: 0px 5px 0px 0px; HEIGHT: 24px
}
.rightcontent .title LI A {
	COLOR: #1f3a87; TEXT-DECORATION: none
}
.rightcontent .title LI A:visited {
	COLOR: #1f3a87
}
.rightcontent .title LI A:hover {
	COLOR: #bc2931
}
.rightcontent .picList {
	CLEAR: both; MARGIN: 0px auto; WIDTH: 336px
}
.rightcontent .picList UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 12px
}
.rightcontent .picList LI {
	FLOAT: left; WIDTH: 50%
}
.rightcontent .picList LI IMG {
	BORDER-RIGHT: #000 1px solid; BORDER-TOP: #000 1px solid; BORDER-LEFT: #000 1px solid; BORDER-BOTTOM: #000 1px solid
}
.rightcontent .picList LI H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; WIDTH: 130px; PADDING-TOP: 4px; TEXT-ALIGN: left
}
.rightcontent .list {
	CLEAR: both
}
.rightcontent .list UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 10px
}
.rightcontent .list LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 21px; BACKGROUND: url(img/end_i5.gif) no-repeat 13px 10px; PADDING-BOTTOM: 2px; PADDING-TOP: 1px; LIST-STYLE-TYPE: none; TEXT-ALIGN: left
}
.rightcontent .list LI SPAN {
	PADDING-RIGHT: 0px; PADDING-LEFT: 2px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; COLOR: #666; PADDING-TOP: 0px
}
.rightcontent .list A {
	COLOR: #1f3a87
}
.rightcontent .list A:hover {
	COLOR: #bc2931
}
.rightcontent .more {
	CLEAR: both; MARGIN: 0px auto; WIDTH: 344px
}
.rightcontent .more SPAN {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; BACKGROUND: url(img/end_i4.gif) no-repeat 0px 11px; FLOAT: right; PADDING-BOTTOM: 0px; PADDING-TOP: 5px
}
.footer {
	MARGIN: 0px auto; WIDTH: 968px; LINE-HEIGHT: 160%
}
.footer .text1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 6px; MARGIN: 0px 0px 5px; PADDING-TOP: 3px; BORDER-BOTTOM: #000 1px solid
}
.footer A:visited {
	COLOR: #000
}
.fb {
	FONT-WEIGHT: bold
}
.fi {
	FONT-STYLE: italic
}
.f10 {
	FONT-SIZE: 10px
}
.f12 {
	FONT-SIZE: 12px
}
.f14 {
	FONT-SIZE: 14px
}
.f14 A {
	FONT-SIZE: 14px
}
H1 {
	LINE-HEIGHT: 1.6em
}
H2 {
	LINE-HEIGHT: 1.6em
}
H3 {
	LINE-HEIGHT: 1.6em
}
H4 {
	LINE-HEIGHT: 1.6em
}
H5 {
	LINE-HEIGHT: 1.6em
}
H6 {
	LINE-HEIGHT: 1.6em
}
P {
	LINE-HEIGHT: 1.6em
}
H1 {
	FONT-SIZE: 24px
}
H2 {
	FONT-SIZE: 20px
}
H3 {
	FONT-SIZE: 18px
}
H4 {
	FONT-SIZE: 14px
}
H5 {
	FONT-SIZE: 13px
}
H6 {
	FONT-SIZE: 12px
}
.h100 {
	CLEAR: both; HEIGHT: 100px; voerflow: hidden
}
.i1 {
	LETTER-SPACING: 0px
}
.i2 {
	LETTER-SPACING: 0px
}
.i3 {
	LETTER-SPACING: 0px
}
.i6 {
	LETTER-SPACING: 0px
}
.i4 {
	LETTER-SPACING: 0px
}
.i7 {
	LETTER-SPACING: 0px
}
.pages {
	LETTER-SPACING: 0px
}
.i1 LI {
	PADDING-LEFT: 8px; BACKGROUND: url(img/i1.gif) no-repeat left 9px
}
.i2 LI {
	PADDING-LEFT: 8px; BACKGROUND: url(img/i2.gif) no-repeat left 9px; COLOR: #1f3a87
}
.i2 LI A:link {
	COLOR: #1f3a87; TEXT-DECORATION: none
}
.i2 LI A:visited {
	COLOR: #83006f; TEXT-DECORATION: none
}
.i3 LI A:visited {
	COLOR: #83006f; TEXT-DECORATION: none
}
.i2 LI A:hover {
	COLOR: #bc2931; TEXT-DECORATION: underline
}
.i3 LI A:hover {
	COLOR: #bc2931; TEXT-DECORATION: underline
}
.i2 LI A:active {
	COLOR: #bc2931
}
.i3 LI A:active {
	COLOR: #bc2931
}
.i3 LI {
	PADDING-LEFT: 8px; BACKGROUND: url(img/i3.gif) no-repeat left 9px; COLOR: #467902
}
.i3 LI A:link {
	COLOR: #467902; TEXT-DECORATION: none
}
.i4 LI {
	PADDING-LEFT: 10px; BACKGROUND: url(img/i4.gif) no-repeat left 10px
}
.i6 {
	PADDING-LEFT: 22px; BACKGROUND: url(img/i6.gif) no-repeat left 3px
}
.i6 LI {
	PADDING-LEFT: 22px; BACKGROUND: url(img/i6.gif) no-repeat left 3px
}
.i7 LI {
	PADDING-LEFT: 8px; BACKGROUND: url(img/i7.gif) no-repeat left 9px
}
.pages {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; TEXT-ALIGN: center
}
.i5 {
	PADDING-LEFT: 18px; BACKGROUND: url(img/i5.gif) no-repeat left 5px
}
.i5_1 {
	PADDING-LEFT: 18px; BACKGROUND: url(img/i5.gif) no-repeat left 3px
}
.more SPAN {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; BACKGROUND: url(img/i4.gif) #fff no-repeat 3px 7px; FLOAT: right; PADDING-BOTTOM: 0px; PADDING-TOP: 4px
}
.more A {
	COLOR: #1f3a87
}
.more A:visited {
	COLOR: #1f3a87
}
.more A:hover {
	COLOR: #bc2931
}
.blank3 {
	CLEAR: both; FONT-SIZE: 1px; OVERFLOW: hidden; WIDTH: 100%; HEIGHT: 3px
}
.blank6 {
	CLEAR: both; FONT-SIZE: 1px; OVERFLOW: hidden; WIDTH: 100%; HEIGHT: 6px
}
.blank9 {
	CLEAR: both; FONT-SIZE: 1px; OVERFLOW: hidden; WIDTH: 100%; HEIGHT: 9px
}
.blank12 {
	CLEAR: both; FONT-SIZE: 1px; OVERFLOW: hidden; WIDTH: 100%; HEIGHT: 12px
}
.blank9w {
	CLEAR: both; FONT-SIZE: 1px; BACKGROUND: #fff; OVERFLOW: hidden; WIDTH: 100%; HEIGHT: 9px
}
.blank15 {
	CLEAR: both; FONT-SIZE: 1px; OVERFLOW: hidden; WIDTH: 100%; HEIGHT: 15px
}
.blank20 {
	CLEAR: both; FONT-SIZE: 1px; OVERFLOW: hidden; WIDTH: 100%; HEIGHT: 20px
}
.b1 {
	BORDER-TOP: #e6e6e6 1px solid
}
.b1_1 {
	BORDER-TOP: #e6e6e6 1px solid; BORDER-BOTTOM: #e6e6e6 1px solid
}
.b2 {
	BORDER-TOP: #e6e6e6 1px solid
}
.b3 {
	BORDER-TOP: #e6e6e6 1px solid; BORDER-BOTTOM: #e6e6e6 1px dashed
}
.b4 {
	CLEAR: both; MARGIN-BOTTOM: 3px; OVERFLOW: hidden; BORDER-BOTTOM: #1f3a87 1px solid; HEIGHT: 3px
}
.bgf {
	BACKGROUND: #fff
}
.bg1 {
	BACKGROUND: #f9f9f9
}
.bg2 {
	BACKGROUND: #f0f0f0
}
.bg3 {
	BACKGROUND: #f9f9f9
}
#commentcontent {
	BACKGROUND: url(img/logocont.gif) #fff no-repeat center center
}
.comment_title {
	COLOR: #1f3a87
}
.comment_reply {
	COLOR: #1f3a87
}
.comment_quote {
	BORDER-RIGHT: #999 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #999 1px solid; PADDING-LEFT: 2px; BACKGROUND: #ffffee; PADDING-BOTTOM: 2px; MARGIN: 4px 6px; BORDER-LEFT: #999 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #999 1px solid
}
.xgtext {
	MARGIN: 5px
}
.m1 {
	MARGIN: 1px
}
.p3 {
	PADDING-RIGHT: 1px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.p6 {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 6px; PADDING-TOP: 6px
}
.p3_6 {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.p5_9 {
	PADDING-RIGHT: 9px; PADDING-LEFT: 9px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.p6_12 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #fbfbfb; PADDING-BOTTOM: 6px; MARGIN: 0px 1px; PADDING-TOP: 6px
}
.p6_12_1 {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; PADDING-BOTTOM: 6px; MARGIN: 0px 1px; PADDING-TOP: 6px
}
.p3_12 {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.p3_12_1 {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; PADDING-BOTTOM: 3px; MARGIN: 0px 1px; PADDING-TOP: 3px;width:702px;
}
.m0_5 {
	MARGIN: 0px 5px
}
.m5_0 {
	MARGIN: 5px 0px
}
.cb {
	CLEAR: both
}
.fl {
	FLOAT: left
}
.fr {
	FLOAT: right
}
.tr {
	TEXT-ALIGN: right
}
.tc {
	TEXT-ALIGN: center
}
.clear {
	CLEAR: both
}
.hidden {
	DISPLAY: none
}
.unLine {
	TEXT-DECORATION: none
}
.unLine A {
	TEXT-DECORATION: none
}
.noborder {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
.back1 {
	CLEAR: both; FONT-SIZE: 1px; BACKGROUND: #000; OVERFLOW: hidden; WIDTH: 100%; HEIGHT: 1px
}
.large-red {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: red; FONT-FAMILY: georgia,'times new roman',times,serif
}
SPAN.mail_update {
	PADDING-RIGHT: 0px; PADDING-LEFT: 18px; BACKGROUND: url(/mwjx/images/tie.gif) no-repeat left -2px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.comment_content{
	word-break:break-all;word-wrap:break-word;width:540px;
}
#lasthothead{
	/*今日更热*/
	float:left;
	width:701px;
	height:60px;
	overflow:hidden;
	font-weight:bold;/**/
	display:block;
	/*background-color:yellow;*/
}
#lasthothead ul li{
	margin-right:5px;
	padding-left:5px;
	float:left;
	width:225px;
	white-space:nowrap;
	line-height:15px;
	overflow:hidden;
	background:url(/mwjx/images/bussniess/secondhandwindow_hit.gif) 0 4px no-repeat;
}
#lasthotbottom{
	/*今日更热*/
	float:left;
	width:250px;
	/*height:300px;*/
	overflow:hidden;
	/*background-color:red;*/
}
#lasthotbottom ul li{
	FONT-SIZE: 13px;
	margin-left:0px;
	margin-right:0x;
	padding-left:5px;
	float:left;
	width:120px;
	white-space:nowrap;
	line-height:15px;
	overflow:hidden;
	background:url(/mwjx/images/bussniess/secondhandwindow_hit.gif) 0 4px no-repeat;
}
#linksbottom{
	/*相关链接*/
	float:left;
	width:545px;
	/*height:200px;*/
	overflow:hidden;
	/*background-color:red;*/
}
#linksbottom ul li{
	FONT-SIZE: 13px;
	margin-right:12px;
	padding-left:5px;
	float:left;
	width:252px;
	white-space:nowrap;
	line-height:16px;
	overflow:hidden;
	background:url(/mwjx/images/bussniess/secondhandwindow_hit.gif) 0 4px no-repeat;
}
#sitelast{
	/*最新*/
	float:left;
	width:250px;
	/*height:200px;*/
	FONT-WEIGHT: bold;/**/ 
	overflow:hidden;
	/*background-color:red;*/
}
#sitelast LI A:link {
	COLOR: #467902;
}
#sitelast LI A:visited {
	COLOR: #bc2931;
}

#sitelast ul li{
	FONT-SIZE: 13px;
	margin-right:0px;
	padding-left:5px;
	float:left;
	width:240px;
	white-space:nowrap;
	line-height:20px;
	overflow:hidden;
	background:url(/mwjx/images/bussniess/secondhandwindow_hit.gif) 0 4px no-repeat;
}
#lastdown{
	/*最新合集*/
	float:left;
	width:250px;
	height:300px;/**/
	overflow:hidden;
	/*background-color:red;*/
}
#lastdown LI A:link {
	COLOR: #467902;
}
#lastdown LI A:visited {
	COLOR: #bc2931;
}
#lastdown ul li{
	FONT-SIZE: 13px;
	margin-left:0px;
	margin-right:0x;
	padding-left:5px;
	float:left;
	width:120px;
	white-space:nowrap;
	line-height:15px;
	overflow:hidden;
	background:url(/mwjx/images/bussniess/secondhandwindow_hit.gif) 0 4px no-repeat;
}
#class_newarticle{
	/*类目最新*/
	float:left;
	width:658px;
	/*height:300px;*/
	overflow:hidden;
	/*background-color:red;*/
}
#class_newarticle LI A:link {
	COLOR: #467902;
}
#class_newarticle LI A:visited {
	COLOR: #bc2931;
}
#class_newarticle ul li{
	FONT-SIZE: 13px;
	margin-left:0px;
	margin-right:18x;
	padding-left:5px;
	float:left;
	width:200px;
	white-space:nowrap;
	line-height:15px;
	overflow:hidden;
	background:url(/mwjx/images/bussniess/secondhandwindow_hit.gif) 0 4px no-repeat;
}

#class_hotarticle{
	/*类目最热*/
	float:left;
	width:300px;
	/*height:300px;*/
	overflow:hidden;
	/*background-color:red;*/
}
#class_hotarticle LI A:link {
	COLOR: #467902;
}
#class_hotarticle LI A:visited {
	COLOR: #bc2931;
}
#class_hotarticle ul li{
	FONT-SIZE: 13px;
	margin-left:0px;
	margin-right:0x;
	padding-left:5px;
	float:left;
	width:140px;
	white-space:nowrap;
	line-height:15px;
	overflow:hidden;
	background:url(/mwjx/images/bussniess/secondhandwindow_hit.gif) 0 4px no-repeat;
}
#div_laststar{
	/*最新评级*/
	float:left;
	width:250px;
	/*height:300px;*/
	overflow:hidden;
	FONT-WEIGHT: bold;
	/*background-color:red;*/
}
#div_laststar LI A:link {
	COLOR: #467902;
}
#div_laststar LI A:visited {
	COLOR: #bc2931;
}
#div_laststar ul li{
	FONT-SIZE: 13px;
	margin-left:0px;
	margin-right:0x;
	padding-left:5px;
	float:left;
	width:240px;
	white-space:nowrap;
	line-height:15px;
	overflow:hidden;
	background:url(/mwjx/images/bussniess/secondhandwindow_hit.gif) 0 4px no-repeat;
}
#div_a_down{
	width:588px;
}
.a_down{
	float:left;
	DISPLAY: inline;
	width:294px;
	/*height:300px;*/
	font-weight:bold;/**/
	overflow:hidden;
	/*background-color:red;*/
}
.a_down LI A:link {
	COLOR: #467902;
}
.a_down LI A:visited {
	COLOR: #bc2931;
}
.a_down ul li{
	FONT-SIZE: 13px;
	margin-left:0px;
	margin-right:0x;
	padding-left:5px;
	float:left;
	width:280px;
	white-space:nowrap;
	line-height:15px;
	overflow:hidden;
	background:url(/mwjx/images/bussniess/secondhandwindow_hit.gif) 0 4px no-repeat;
}
