HTML {
	
}
BODY {
	FONT-SIZE: 12px; COLOR: #111111; FONT-FAMILY: 'lucida grande',taho,verdana,'trebuchet ms',sans-serif
}
P {
	FONT-SIZE: 12px; COLOR: #111111; FONT-FAMILY: 'lucida grande',taho,verdana,'trebuchet ms',sans-serif
}
TH {
	FONT-SIZE: 12px; COLOR: #111111; FONT-FAMILY: 'lucida grande',taho,verdana,'trebuchet ms',sans-serif
}
TD {
	FONT-SIZE: 12px; COLOR: #111111; FONT-FAMILY: 'lucida grande',taho,verdana,'trebuchet ms',sans-serif
}
INPUT {
	FONT-SIZE: 12px; COLOR: #111111; FONT-FAMILY: 'lucida grande',taho,verdana,'trebuchet ms',sans-serif
}
SELECT {
	FONT-SIZE: 12px; COLOR: #111111; FONT-FAMILY: 'lucida grande',taho,verdana,'trebuchet ms',sans-serif
}
TEXTAREA {
	FONT-SIZE: 12px; COLOR: #111111; FONT-FAMILY: 'lucida grande',taho,verdana,'trebuchet ms',sans-serif
}
BODY {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: #fff; TEXT-ALIGN: center
}
TABLE {
	TEXT-ALIGN: left
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; MARGIN: 15px 0px; PADDING-TOP: 3px
}
HR {
	BORDER-RIGHT: #000000 0px solid; BORDER-TOP: #d1d7dc 1px solid; BORDER-LEFT: #000000 0px solid; BORDER-BOTTOM: #000000 0px solid; HEIGHT: 0px
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.B {
	FONT-WEIGHT: bold; FONT-SIZE: 12px
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px
}
.boldFontSize12 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px
}
.C {
	FONT-SIZE: 14px
}
.fontSize14 {
	FONT-SIZE: 14px
}
.CB {
	FONT-WEIGHT: bold; FONT-SIZE: 14px
}
.M {
	FONT-WEIGHT: bold; FONT-SIZE: 14px
}
.L {
	FONT-WEIGHT: bold; FONT-SIZE: 14px
}
.boldFontSize14 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px
}
.D {
	FONT-SIZE: 16px
}
.C1 {
	FONT-SIZE: 16px
}
.fontSize16 {
	FONT-SIZE: 16px
}
.DB {
	FONT-WEIGHT: bold; FONT-SIZE: 16px
}
.boldFontSize16 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px
}
.H {
	COLOR: #ff5500
}
.green {
	COLOR: green
}
.grey {
	
}
red {
	COLOR: red
}
.G {
	COLOR: #666666
}
.LL {
	LINE-HEIGHT: 150%
}
.LG {
	LINE-HEIGHT: 200%
}
.ImgB {
	BORDER-RIGHT: #dddddd 1px solid; BORDER-TOP: #dddddd 1px solid; BORDER-LEFT: #dddddd 1px solid; BORDER-BOTTOM: #dddddd 1px solid
}
A:link {
	COLOR: #0044dd; TEXT-DECORATION: none
}
A:visited {
	COLOR: #0044dd; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff5500; TEXT-DECORATION: underline
}
A:active {
	COLOR: #ff5500; TEXT-DECORATION: underline
}
A.U:link {
	COLOR: #0044dd; TEXT-DECORATION: underline
}
A.U:visited {
	COLOR: #0044dd; TEXT-DECORATION: underline
}
A.U:hover {
	COLOR: #ff5500; TEXT-DECORATION: underline
}
A.U:active {
	COLOR: #ff5500; TEXT-DECORATION: underline
}
.hidden {
	DISPLAY: none
}
